@charset "utf-8";




/*header*/
#header{
    position: relative;
}
.gnb{
    position: absolute;
    top:15px;
    right: 0;
    z-index: 1;
    
}
.gnb a{
    
}
.gnb img{
    width: 50%;
}

/*footer*/
#footer{
    background: url(../images/footer.png);
    background-size: cover;
    
    text-align: center;
    margin-top: 40px;
}
#footer h2{
    padding: 18px;
}
#footer img{
   width: 30px;
}
#footer p{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 11px;
    color: #fff;
    font-family: "NotoSans";
    
}




